
*{
    margin: 0;
    padding: 0;
    animation: backgroundcolour infinite 30s;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/*nav bar menu for the drop down menu in right-hand corner*/

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-color: white;
    
  }
  nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: grey;}



/*footer stylings for the height width etc and also the linkedin and github images*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .linkedin {
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 10px;
    
  }
  .github {
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 10px;
  }
  /*background changing colour effects*/
  @keyframes backgroundcolour {
    0%
    {
        background-color: #e74c3c;
  
    }
    20%
    {
        background-color: #2980b9;
  
    }
    40%
    {
        background-color: #f1c40f;
  
    }
    60%
    {
        background-color: #8e44ad;
  
    }
    80%
    {
        background-color: #34495e;
  
    }
    100%
    {
        background-color: #e74c3c;
  
    }
  }
  